@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&subset=cyrillic,latin-ext");
@icon-font-path : "../fonts/icon.png";
@icon-font-name : "glyphicons-halflings-regular";
body {
  font-family: "Roboto", sans-serif;
  background: royalblue;
  /* Цвет фона */
  pading-bottom: 5px;
  /*width:100%;*/
  /*height: 100vh;*/ }
  body h1 {
    color: snow; }
.img{
  border: 12px solid;
  width:900%;
  height: 100vh;
}
.row {
  border: 1px solid; }

footer {
  position: absolute;
  bottom: 0;
  width: 60%;
  /* Set the fixed height of the footer here */
  height: 60px;
  margin-bottom: 25px;
  height: 30%;
  background: snow;
  /* Цвет фона */ }

.n, .l {
  /*padding: 5px 5px 5px 10px;*/
  /*margin: 5px 5px 5px 5px;*/
  margin-bottom: inherit;
  height: 100%;
  border: 1px solid; }

  .carousel-inner{
    align-items: center;
    width: 100%;
  }

/*
.page-header {
  text-align: center;
}
*/
/*
 html { overflow-x: hidden; }
    
    @media screen and (max-width: 1800px){
    body{
    height:100%;
    margin:0 ;
    border: 1px solid #73AD21;
    }
    }
*/
/*
body{
     height: 100vh;
     @media screen and (max-width: 1300px) {
     div.col-sm-8 {
     display: block;
     width:100%;
     height: 100vh;
     margin:0 auto;
     border: 1px solid #73AD21;
     }
     }
     height:100%;
     @media screen and (max-width: 1100px) {
     div.col-xs-8 {
     display: block;
     width:100%;
     height:100vh;
     margin:0 auto;
     border: 1px solid;
     }
     }
     height:100%;
     @media screen and (max-width: 400px) {
     div.col-xs-8 {
     display: block;
     width:100%;
     thumbnail{
     height:100%;
     margin-bottom:0;
     padding:0;
     }
     border: 1px solid #73AD21;
     .auto-clear .col-xs-8:nth-child(12n+1){clear:left;}
    
      
     }
     button{width:80%;}
  }
}



*/
